<% layout("layouts/boilerplate")%>
   <div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
        <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title"class="form-label">Title</label>
                <input type="text" name="listing[title]" required placeholder="Enter Title" id="title"class="form-control">
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="description"class="form-label">Description</label>
                <textarea name="listing[description]" required id="description" class="form-control"></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="image"class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" id="image" required class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price"class="form-label">Price</label>
                    <input type="number" name="listing[price]"  required id="price"class="form-control" placeholder="Enter Price">
                    <div class="invalid-feedback">Please provide a valid price</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country"class="form-label">Country</label>
                    <input type="text" name="listing[country]" required id="country"class="form-control" placeholder="Enter Country">
                    <div class="invalid-feedback">Please choose a country</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location"class="form-label">Location</label>
                <input type="text" name="listing[location]" required id="location"class="form-control" placeholder="Enter Location">
                <div class="invalid-feedback">Please choose a location</div>
            </div> 
            <div class="mb-3 col-6">
                <label for="category">Choose a category:</label>
                <select name="listing[category]" id="category" class="form-select"aria-label="Disabled select example" required>
                    <option value="Mountains">Mountains</option>
                    <option value="Trending">Trending</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Iconic cities">Iconic cities</option>
                    <option value="Castles">Castles</option>
                    <option value="Amazing pools">Amazing pools</option>
                    <option value="Camping">Camping</option>
                    <option value="Farms">Farms</option>
                    <option value="Lake">Lake</option>
                </select>
            </div>       
            <button class="btn btn-dark btn-c mt-3 mb-3">Add</button>           
        </form>
    </div>
   </div>
    